@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --blueColor01: #021156;
    --blueColor02: #3657F4;

    --whiteColor01: white;

    --fontWhite01: #f0f0f0;
    --fontBlack01: #2e2e2e;
    
    --bgWhiteColor01: #F2F6F9;

    --lineColor01: rgb(199, 199, 199);
    --lineColor02: rgba(199, 199, 199, 0.219);

    --boxShadow01: 0 0 5px rgba(0, 0, 0, 0.404);
    --inputShadow01: 0 0 5px rgba(0, 0, 0, 0.175);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    font-family: "Inter", "Manrope", "Outfit", "Poppins", Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, serif;
}

html, body {
    height: 100dvh;
}

body {
    max-width: 100vw;
}

h1, h2, h3, h4, p {
    color: var(--fontBlack01);
}

li {
    list-style: none;
}